<li title="<%= game.id %>-top"
    class="game game-top <%= 'winner' if game.winner?(game.school1) %>">
  <%= link_to game.school1.try(:full_name_and_seed), school_url(game.school1) %>
  <span><%= game.school1_score %></span>
</li>

<li class="game game-spacer">&nbsp;</li>

<li title="<%= game.id %>-bottom"
    class="game game-bottom <%= 'winner' if game.winner?(game.school2) %>'">
  <%= game.school2.try(:full_name_and_seed) %>
  <span><%= game.school2_score %></span>
</li>
<li class="spacer">&nbsp;</li>
