<ul id="centered-nav" class="geometric-font nav-tabs nav nav-justified">
  <li class="<%= action_name == 'leaderboard' ? 'active' : '' %>">
    <%= link_to 'Leaderboard', league_leaderboard_path(league) %>
  </li>
  <li class="<%= action_name == 'bracket' ? 'active' : '' %>">
    <%= link_to 'Bracket', league_bracket_path(league) %>
  </li>
  <li class="<%= action_name == 'draft_room' ? 'active' : '' %>">
    <%= link_to 'Draft Room', league_draft_room_path(league) %>
  </li>
</ul>
