<h2><%= league.name %></h2>
<h4><%= league.description %></h4>

<div class="full-reminder">
  <% if league.full? %>
    Congrats! Your league is full and ready to rumble.
  <% else %>
    <p>
      Your league is still
      <strong><%= pluralize(8 - league.owners.count, 'owner') %></strong>
      away from being ready to participate.
    </p>
    <p>
      <strong>Reminder:</strong> You have until 11:59 PT Wednesday, March 20 to have 8 owners.
    </p>
    </br>
    <p>Invite your friends by giving them the League's name and password:</p>
    <p>League Name: <strong><%= league.name %></strong></p>
    <p>League Password: <strong><%= league.password %></strong></p>

    <%#TODO: link_to 'Invite Friends to this League', league_new_invite_path(league), class: 'btn btn-primary' %>
  <% end %>
</div>

</br>

<%= render 'leagues/league_nav', league: league %>
