<%= render 'header', league: @league %>

<div class="section">

  <h3 class="text-center">Draft Results</h3>

  <table class="draft-results table table-responsive table-hover table-condensed">
    <tr class="active">
      <th>Round</th>
      <th>Pick</th>
      <th>Owner</th>
      <th>School</th>
      <th>Region</th>
      <th>Seed</th>
      <th>Total Points</th>
    </tr>
    <% @owner_schools.each do |os| %>
      <tr class="<%= os.school.wins_count_class %> <%= os.school.alive? ? 'alive' : '' %>">
        <td><%= os.draft_round %></td>
        <td><%= os.draft_pick %></td>
        <td title="<%= os.owner.user.email %>"><%= link_to os.owner.team_name, league_owner_path(@league, os.owner) %></td>
        <td><%= link_to os.school.full_name, school_path(os.school) %></td>
        <td><%= os.school.seed_number %></td>
        <td><%= os.school.region %></td>
        <td><%= os.school.total_points %></td>
      </tr>
    <% end %>
  </table>

  </br>
  <div class="draft-results-key">
    <h4 class="text-center">Key</h4>
    <table class="draft-results table table-responsive table-condensed">
      <tr class="champ alive">
        <td>2017 National Champion</td>
      </tr>
      <tr class="title-gamer alive">
        <td>Finalist</td>
      </tr>
      <tr class="final-four alive">
        <td>Final Four</td>
      </tr>
      <tr class="elite alive">
        <td>Elite Eight</td>
      </tr>
      <tr class="sweet alive">
        <td>Sweet Sixteen</td>
      </tr>
      <tr class="one-win alive">
        <td>Round of 32</td>
      </tr>
      <tr class="no-wins">
        <td>Thanks for coming</td>
      </tr>
    </table>
    <p><strong>Still Alive</strong> / Knocked Out</p>
  </div>
</div>
