<%= render 'header', league: @league %>

<% cache("league:#{@league.id}:leaderboard", expires_in: 15.minutes) do %>

  <div class="row">
    <table class="table table-responsive table-hover table-condensed">
      <tr class="active">
        <th>Ranking</th>
        <% if @league.show_has_paid? %>
          <th>Paid?</th>
        <% end %>
        <th>Owner Name</th>
        <th>Schools Left</th>
        <% 6.times do |round| %>
          <th><%= Game::ROUND_NAMES[round] %></th>
        <% end %>
        <th title="Points Possible Remaining">PPR*</th>
        <th>Max</th>
        <th>TOTAL</th>
      </tr>
      <% @owners.each_with_index do |owner, idx| %>
        <tr>
          <th><%= idx + 1 %></th>
          <% if @league.show_has_paid? %>
            <th>
              <% if owner.has_paid %>
                <i class="fas fa-dollar-sign"></i>
              <% end %>
            </th>
          <% end %>
          <th title="<%= owner.user.email %>">
            <%= link_to owner.team_name, league_owner_path(@league, owner) %>
          </th>
          <td><%= owner.schools_left_count %></td>
          <% 6.times do |round| %>
            <td><%= owner.score_for_round(round) %></td>
          <% end %>
          <td><%= owner.ppr %></td>
          <td><%= owner.max %></td>
          <th><%= owner.total_points %></th>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <th><%= School.left_alive_count(@league.year) %></th>
        <% 9.times do %>
          <td></td>
        <% end %>
      </tr>
    </table>
    <em class="pull-right">*Points Possible Remaining</em>
  </div>

<% end %>
