<h2><%= @league.name %></h2>
<h3><%= @league.description %></h3>

<div class="full-reminder">
  <% if @league.full? %>
    Congrats! Your league is full and ready to rumble.
  <% else %>
    Your league is still <%= 8 - @league.owners.count %> owners away from being ready to participate.
    <strong>Reminder:</strong> You have until 11:59 PT Wednesday March 16 to have 8 owners.
  <% end %>
</div>

<h3>Leaderboard</h3>
<table class="table table-responsive table-hover table-condensed">
  <tr class="active">
    <th>Ranking</th>
    <th>Has Paid?</th>
    <th>Owner Name</th>
    <th>2nd Round</th>
    <th>3rd Round</th>
    <th>Sweet 16</th>
    <th>Elite 8</th>
    <th>Final 4</th>
    <th title="National Championship">Title Game</th>
    <th title="Points Possible Remaining">PPR*</th>
    <th>Max</th>
    <th>TOTAL</th>
  </tr>
  <% @league.owners.sort_by(&:current_ranking).each do |owner| %>
    <tr>
      <th><%= owner.current_ranking %></th>
      <th><%= owner.has_paid %></th>
      <th><%= link_to owner.team_name, league_owner_path(@league, owner) %></th>
      <% 6.times do |round| %>
        <th><%= owner.score_for_round(round) %></th>
      <% end %>
      <th><%= owner.ppr %></th>
      <th><%= owner.max %></th>
      <th><%= owner.total_points %></th>
      </tr>
  <% end %>
</table>
<em class="pull-right">*Points Possible Remaining</em>


<h3>TODO:</h3>

<ul>
  <li>All the owners in the league sorted by total points.</li>
  <li><%= image_tag 'standings-mock', class: 'mock-image' %></li>
</ul>
