<%= render 'leagues/header', league: @league %>

<div class="section">
  <h2><%= @owner.team_name %></h2>
  <h4>
    <%= @owner.motto %>
    <% if @owner.user_id == current_user.id %>
      <%= link_to 'Edit Squad Info', edit_league_owner_path(@league, @owner), class: 'btn' %>
    <% end %>
  </h4>
  <h4><%= @owner.user.email %></h4>
</div>
</br>

<%= render 'owner_stat_table', owner: @owner, schools: @schools, league: @league %>

<% if @pending_games.any? %>
  <div class="row">
    <h4 class="game-header">
      Pending Games:
    </h4>
    <% @pending_games.each do |game| %>
      <%= render 'shared/game', game: game %>
    <% end %>
  </div>
<% end %>

<% if @completed_games.any? %>
  <div class="row">
    <h4 class="game-header">
      Completed Games:
    </h4>
    <% @completed_games.each do |game| %>
      <%= render 'shared/game', game: game %>
    <% end %>
  </div>
<% end %>
