<nav id="dm-header" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= image_tag 'bball-icon', class: 'img-responsive bball-icon' %>
      </div>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="title active">
          <% title_path = user_signed_in? ? user_path(current_user) : root_path %>
          <%= link_to 'Draft Madness 2016', title_path %>
        </li>
        <li>
          <%= link_to 'Rules', '#' %>
        </li>
        <li>
          <%= link_to 'About', '#' %>
        </li>
      </ul>

      <% if user_signed_in? %>
        <div class="logout">
          <%= link_to 'Log Out', logout_path, class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
