<nav id="dm-header" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= image_tag 'bball-icon.png', class: 'img-responsive bball-icon' %>
      </div>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="title active">
          <% title_path = user_signed_in? ? user_path(current_user) : root_path %>
          <%= link_to "Madness Draft #{Date.today.year}", title_path %>
        </li>
        <li>
          <%= link_to 'Rules', rules_path %>
        </li>
        <li>
          <%= link_to 'Contact', contact_path %>
        </li>
        <li>
          <%= link_to 'Privacy', privacy_path %>
        </li>
        <% if current_user.try(:admin?) %>
          <li>
            <%= link_to 'Update Games', admin_games_path %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="logout">
          <%= link_to 'Log Out', logout_path, class: 'btn' %>
        </div>
      <% elsif action_name != 'new' %>
        <div class="logout">
          <%= link_to 'Log In', new_user_session_path, class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
