<div class="game col-md-3">
  <p><strong><%= game.round_name %></strong></p>
  <div class="start-time">
    <% if game.start_time %>
      <%= game.start_time.strftime('%b. %-d, %l:%M%P') %>
    <% else %>
      <%= simple_form_for game, url: game_update_time_url(game), method: 'PATCH' do |f| %>
        <%= f.input :start_time,
                    as: :datetime,
                    year: game.schools.first.year,
                    discard_year: true %>
        </br>
        <%= f.button :submit, 'Update Start Time', class: 'btn btn-primary' %>
      <% end %>
  <% end %>
  </div>
  <%= simple_form_for game, url: game_url(game), method: 'PATCH' do |f| %>

    <div class="team-one">
      <%= game.school1.full_name_and_seed %>

      <%= f.input :school1_score, input_html: { value: f.object.school1_score } %>
    </div>
    <div class="team-two">
      <%= game.school2.full_name_and_seed %>

      <%= f.input :school2_score, input_html: { value: f.object.school2_score } %>
    </div>
    <% button_text = game.is_over ? 'Update Score' : 'Submit Score' %>
    <%= f.button :submit, button_text, class: 'btn btn-primary' %>
  <% end %>
</div>
